/* Main CSS */

/* Font-face Declarations */
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/poppins/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/barlow/Barlow-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("/assets/fonts/barlow/Barlow-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* General Styles */
body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.logo {
  height: 40px;
}

.menu-btn {
  font-size: 10px;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(137, 137, 137);
  position: relative;
  padding: 0 0;
}

.menu-btn::before,
.menu-btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(199, 199, 199);
}

.menu-btn::before {
  top: 100%;
  margin-top: -10px;
}

.menu-btn::after {
  top: calc(100% + 6px);
  margin-top: -10px;
}

.menu-content {
  display: none;
  background-color: #f3f2f2;
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.menu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-content ul li {
  margin: 10px 0;
}

.menu-content ul li a {
  color: rgb(52, 52, 52);
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 8px 0;
}

.menu-content ul li a:hover {
  background-color: #e4e4e4;
}

.menu-btn {
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(65, 65, 65);
  text-transform: uppercase;
}

/* Button Template */
button {
  border: 1px;
  border-color: rgb(137, 137, 137);
  border-radius: 0;
  padding: 10px 20px;
  cursor: pointer;
  letter-spacing: 1.5px;
}

button[type="submit"],
.service-item button,
.newsletter button {
  border: 1px solid;
  border-radius: 0;
}

.service-item button {
  background: #9bcc3e;
  color: #ffffff;
}

button[type="submit"] {
  background: #5fbe30;
  color: #ffffff;
}

.newsletter button {
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
}

/* Intro Section */
.intro-text {
  padding: 70px 70px 70px 70px;
}

.banner {
  max-width: 100%;
  height: auto;
}

.intro-text {
  margin-top: 20px;
}

.intro-text p {
  font-size: 16px;
  color: grey;
  text-align: left;
}

.intro-text h1 {
  font-size: 70px;
  margin: 10px 0;
  text-align: left;
}

.date {
  font-family: "Barlow";
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.icon-links {
  margin-top: 50px;
}
.icon-link {
  margin-right: 10px;
  text-decoration: none;
}

/* Slider */
.slider {
  overflow: hidden;
  position: relative;
  padding: 20px 0;
  background: #ffffff;
}

.slide {
  display: none;
  text-align: center;
}

.slide img {
  width: 100%;
  height: auto;
}

/* Show first slide initially */
.slide:first-child {
  display: block;
}

/* Services Section */
.services .container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: linear-gradient(90deg, #f4f4f4, #e8e8e8);
  border-top-right-radius: 30px;
  padding: 40px 0;
}

.service-item {
  flex: 1;
  text-align: left;
  padding: 20px 60px 20px 60px;
}

.service-item h1 {
  font-size: 15px;
  text-align: left;
  color: grey;
  text-transform: uppercase;
  font-family: "Barlow";
  letter-spacing: 4px;
  margin-bottom: 4px;
}

.service-item h2 {
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 10px;
  text-align: left;
}

.service-item p {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: left;
  color: grey;
}

.service-item button {
  background-color: transparent;
  color: grey;
  text-align: left;
}
/* Contact Form */
.contact {
  padding: 40px 0;
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
  justify-content: center;
}

.contact .from-elements {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.contact h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact button {
  display: block;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  color: rgb(49, 49, 49);
  border: 1px solid gray;
}

/* Newsletter Section */
.newsletter {
  text-align: center;
  padding: 40px 0;
  background: linear-gradient(90deg, #9bcc3e, #5fbe30);
  color: #ffffff;
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

.newsletter h2 {
  font-size: 40px;
  margin: 0 0;
}

.subtext {
  font-family: "Barlow";
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0 0 0 0;
}

/* Footer */
.footer {
  background: #fff;
  color: #6b6b6b;
  padding: 20px;
  font-size: small;
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
  border-top: 1px solid #b2b2b2;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer .left-columns {
  display: flex;
  gap: 20px;
}

.footer .address,
.footer .contact-info {
  flex: 1;
  min-width: 200px;
}

.footer .legal {
  text-align: right;
  flex: 0 0 auto;
}

.footer a {
  color: #6b6b6b;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .daten {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

/* Mobile */

/* Мобильная версия для 320px */
@media (max-width: 320px) {
  body {
    margin: 0;
    padding: 0;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  /* .header img {
    max-height: 30px;
    margin-bottom: 10px;
  } */

  .menu {
    font-size: 8px;
    text-align: center;
  }

  .hero {
    padding: 20px 10px;
  }

  .hero img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .hero h1 {
    font-size: 20px;
    line-height: 1.2;
  }

  .hero p {
    font-size: 14px;
    line-height: 1.4;
  }

  .content {
    flex-direction: column;
    gap: 10px;
  }

  .content .box {
    flex: 1 1 100%;
    padding: 15px;
    text-align: center;
    box-shadow: none;
  }

  .content .box h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .content .box p {
    font-size: 12px;
    line-height: 1.4;
  }

  .content .box button {
    padding: 8px 16px;
    font-size: 12px;
    width: 100%;
  }

  .footer {
    font-size: 12px;
    padding: 10px 15px;
    text-align: center;
  }

  .footer p {
    margin: 0;
  }
}

/* @media screen and (max-width: 320px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .logo {
    height: 30px;
  }

  .menu-btn {
    font-size: 12px;
    margin-top: 10px;
  }
  .menu-content {
    left: auto;
    right: 0;
    width: 100%;
  }
} */
